<p>
    <label for="bc_template_book_title">{{ book_title_label }}</label><br />
    <input type="text" name="bc_template_book_title" id="bc_template_book_title" value="{{ book_title }}" class="widefat" />
</p>
<p>
    <label>
        <input type="checkbox" name="bc_template_default" value="1" {% if default %}checked{% endif %} />
        {{ default_label }}
    </label>
</p>
<p>
    <label for="bc_template_paged_book">{{ paged_book_label }}</label><br />
    <textarea name="bc_template_paged_book" id="bc_template_paged_book" class="widefat" rows="3">{{ paged_book }}</textarea>
</p>
<p>
    <label for="bc_template_paged_chapter">{{ paged_chapter_label }}</label><br />
    <textarea name="bc_template_paged_chapter" id="bc_template_paged_chapter" class="widefat" rows="3">{{ paged_chapter }}</textarea>
</p>
<p>
    <label for="bc_template_paged_paragraph">{{ paged_paragraph_label }}</label><br />
    <textarea name="bc_template_paged_paragraph" id="bc_template_paged_paragraph" class="widefat" rows="3">{{ paged_paragraph }}</textarea>
</p>
